@media ( min-width: 1024px ) {
/*  -------------------------------------- 공통 css ------------------------------------------------ */

html, body {
    position: relative;
    height: 100%;
    font-size:14px;
}
*{
    padding:0;
    margin:0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
#menu{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color:rgba(20, 29, 37, 0.8);
    z-index:2000;
}
#main_logo_wrapper{
   width:20%;
   height:100px;
   float:left;
   text-align: center;
   padding-top:20px;
}
#main_logo{
    width:100px;
    height:60px;
    object-fit:contain;
    margin-right:30%;
}
#main_title_wrapper > ul > li > a{
    line-height: 100px;
    font-weight:600;
    font-size:15px;
}
#main_title_wrapper{
    width: 60%;
    float: left;
}
#main_title_wrapper > ul > li{
    list-style: none;
    width:25%;
    float: left;
    vertical-align: middle;
    text-align: center;
}
#main_title_wrapper > ul > li > ul > li{
    list-style: none;
    font-size: 13px;
    line-height: 30px;
    padding-top:1%;
}
.main_title{
    text-decoration: none;
    mouse-pointer: cursor;
    color:white;
}
.sub-title{
    text-decoration: none;
    mouse-pointer: cursor;
    color:white;
}
.sub{
    color:white;
    background-color:rgba(20, 29, 37, 0.8);
    display:none;
}
.mobile_nav_wrapper{
    display:none;
}
/* ----------------------------------------------- /공통 css -------------------------------------------------------*/
.bg_img{
    width: 100%;
    height: 350px;
    background-image: url('../../img/공통_img/menu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.sub_sub_btn_wrapper ul{
    width:100%;
    max-width:1200px;
    height:60px;
    margin: 0 auto;
    line-height:3;
    list-style:none;
    border-bottom:1px solid #e5e5e5;
    display:flex;
    justify-content:space-around;
}
.sub_sub_btn_wrapper ul li{
    width:25%;
    height:60px;
    text-align:center;
}
.sub_sub_btn_wrapper ul li:hover{
    border-bottom:1px solid black;
}
.sub_sub_btn_wrapper ul li a{
    text-decoration:none;
    color:grey;
    font-size:20px;
    font-weight:600;
}
#주요연혁{
    border-bottom:1px solid;
}
#주요연혁 a{
    color:black;
}
.section02{
    height:auto;
}

.section02 ul {
    margin: 30px auto;
    position: relative;
    width: 960px;
    list-style:none;
}
.section02 ul:before {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    padding: 20px 0;
    width: 3px;
    height: 100%;
    background-color: #eee;
}
.section02 ul li {
    position: relative;
    margin-bottom:20px;
    width: 50%;
}
.section02 ul li:before {
    content: " ";
    display: block;
    position: absolute;
    top: -4px;
    left: 85.3333%;
    width: 75px; height: 38px;
    background-image: url(https://surc.or.kr/assets/icon-history-72e35a81b533771b1d598ddb83c79a8a761f88f76248478975f944c06bffefb8.png); background-size: 78px 38px;
}
.section02 ul li:nth-child(odd) {
    padding-left: 59.5%;
}
.section02 ul li:nth-child(odd):before {
    transform: rotate(180deg);
    left: 45.3333%;
    right: auto;
}

.section02 ul li span {
    background-color: #e0e0e0;
    color: black;
    display: inline-block;
    width: 50px;
    text-align: center;
    margin-top: 15px;
}
.section02 ul li p {
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.01rem;
    color: #707984;
    word-break: keep-all;
}

}

/* 모바일 */
@media ( max-width: 1023px ) {
/* --------------------------------------- 공통 css -------------------------------------------- */
html, body {
    position: relative;
    height: 100%;
}
*{
    padding:0;
    margin:0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
#menu{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color:rgba(20, 29, 37, 0.8);
    z-index:2000;
}
#main_logo_wrapper{
   width:20%;
   height:100px;
   float:left;
   text-align: center;
   padding-top:20px;
   margin-left:1%;
}
#main_logo{
    width:100px;
    height:60px;
    object-fit:contain;
}
#main_title_wrapper > ul > li > a{
    line-height: 100px;
}
#main_title_wrapper{
    width: 60%;
    float: left;
    display:none;
}
#main_title_wrapper > ul > li{
    list-style: none;
    width:25%;
    float: left;
    vertical-align: middle;
    text-align: center;
}
#main_title_wrapper > ul > li > ul > li{
    list-style: none;
    font-size: 11px;
    line-height: 30px;
}
.main-title{
    text-decoration: none;
    mouse-pointer: cursor;
    color:white;
}
.sub-title{
    text-decoration: none;
    mouse-pointer: cursor;
    color:white;
}
.sub{
    color:white;
    background-color:rgba(20, 29, 37, 0.8);
    display:none;
}
.mobile_nav_wrapper {
    text-align:right;
}
.mobile-nav-wrap {
    /* display: none; */
}
.mobile-header-nav {
  background-color:rgba(20, 29, 37, 0.8);
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  left:0;
  width: 100%;
}
.mobile-header-nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.mobile-header-nav li a {
  color: white;
  display: block;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.mobile-header-nav-sub{
    display:none;
}

.hamburger-menu {
  display: inline-block;
  height: 100px;
  padding: 35px 25px;
  transition: all 0.3s ease-in-out;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.hamburger-menu .menu-item {
  background: white;
  display: block;
  height: 3px;
  margin: 0 0 10px;
  transition: all 0.3s ease-in-out;
  width: 40px;
}
.hamburger-menu.open .menu-item {
  margin: 0 0 5px;
}
.hamburger-menu.open .menu-item:first-child {
  transform: rotate(45deg);
  transform-origin: 10px;
}
.hamburger-menu.open .menu-item:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.open .menu-item:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 8px;
}

/* --------------------------------------- /공통 css -------------------------------------------- */

.bg_img{
    width: 100%;
    height: 350px;
    background-image: url('../../img/공통_img/menu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.sub_sub_btn_wrapper ul{
    width:100%;
    height:60px;
    margin: 0 auto;
    line-height:4;
    list-style:none;
    border-bottom:1px solid #e5e5e5;
    display:flex;
    justify-content:space-around;
}
.sub_sub_btn_wrapper ul li{
    width:25%;
    height:60px;
    text-align:center;
}
.sub_sub_btn_wrapper ul li:hover{
    border-bottom:1px solid black;
}
.sub_sub_btn_wrapper ul li a{
    text-decoration:none;
    color:grey;
    font-size:13px;
    font-weight:600;
}#주요연혁{
    border-bottom:1px solid;
}
#주요연혁 a{
    color:black;
}
.section02{
    height:auto;
    margin-top:20px;
}
.section02 ul {
    position: relative;
    width: 80%;
    list-style:none;
}
.section02 ul:before {
    content: " ";
    display: block;
    position: absolute;
    left: 10%;
    width: 3px;
    height: 100%;
    background-color: #eee;
}
.section02 ul li {
    position: relative;
    padding-bottom:20px;
    width: 80%;
}

.section02 ul li {
    padding-left: 15%;
}

.section02 ul li:before {
    content: " ";
    position: absolute;
    top: -4px;
    left: 10%;
    width: 5%;
    height: 30px;
    background-image: url(https://surc.or.kr/assets/icon-history-72e35a81b533771b1d598ddb83c79a8a761f88f76248478975f944c06bffefb8.png); background-size: 78px 38px;
}
.section02 ul li span {
    background-color: #e0e0e0;
    color: black;
    display: inline-block;
    width:3rem;
    text-align: center;
    margin-top: 15px;
}
.section02 ul li p {
    font-size: 0.8em;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #707984;
    word-break: keep-all;
}



}
