<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>ceo 인사말</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/About us/ceo인사말.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/공통/background.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/공통/location.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/공통/footer.css' %}">
	<script type="text/javascript" src="{% static 'js/About us/ceo인사말.js' %}"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head>
<body>
<!--메뉴 영역-->
<div id ="menu">
			<!--	메인메뉴 logo 영역	-->
			<div id="main_logo_wrapper">
				<a href="/"><img src="{% static 'img/white_logo.png' %}" id="main_logo"></a>
			</div>
			<!--	메인메뉴 title 영역	-->
			<div id="main_title_wrapper">
				<ul>
					<li class="main_li">
						<a class="main_title" href="ceo인사말">About us</a>
						<ul class="sub">
							<li><a href="ceo인사말" class=sub-title>ceo 인사말</a></li>
							<li><a href="주요연혁" class=sub-title>주요 연혁</a></li>
							<li><a href="글로벌파트너" class=sub-title>글로벌파트너</a></li>
							<li><a href="사업장소개" class=sub-title>사업장 소개</a></li>
						</ul>
					</li>
					<li class="main_li">
						<a class="main_title" href="Discretes">Products</a>
						<ul class="sub">
							<li><a href="Discretes" class="sub-title">Discretes</a></li>
							<li><a href="Modules" class="sub-title">Modules</a></li>
						</ul>
					</li>
					<li class="main_li">
						<a class="main_title" href="품질경영">Service</a>
						<ul class="sub">
							<li><a href="품질경영" class="sub-title">품질경영</a></li>
							<li><a href="Certification" class="sub-title">인증사항</a></li>
						</ul>
					</li>
					<li class="main_li">
						<a class="main_title" href="공지사항">Supports & Contacts</a>
						<ul class="sub">
							<li><a href="공지사항" class="sub-title">공지사항</a></li>
							<li><a href="문의사항" class="sub-title">문의사항</a></li>
						</ul>
					</li>
				</ul>
			</div>
		<!--	/메인메뉴 title 영역	-->
			<!--	모바일 메뉴바		-->
            <div class="mobile_nav_wrapper">
                <nav class="mobile-nav-wrap" role="navigation">
                    <ul class="mobile-header-nav">
					  <li class="mobile-header-nav-main-li">
						  <a href="ceo인사말" class="mobile-header-nav-main-title">About us</a>
						  <ul class="mobile-header-nav-sub">
							  <li class="mobile-header-nav-sub-li">
								  <a href="ceo인사말" class="sub-title">ceo 인사말</a>
								  <a href="주요연혁" class="sub-title">주요 연혁</a>
								  <a href="글로벌파트너" class="sub-title">글로벌파트너</a>
								  <a href="사업장소개" class="sub-title">사업장 소개</a>
							  </li>
						  </ul>
					  </li>
					  <li class="mobile-header-nav-main-li">
						  <a href="Discretes" class="mobile-header-nav-main-title">Products</a>
						   <ul class="mobile-header-nav-sub">
							  <li class="mobile-header-nav-sub-li">
								  <a href="Discretes" class="sub-title">Discretes</a>
								  <a href="Modules" class="sub-title">Modules</a>
							  </li>
						  </ul>
					  </li>
					  <li class="mobile-header-nav-main-li">
						  <a href="품질경영" class="mobile-header-nav-main-title">Service</a>
						  <ul class="mobile-header-nav-sub">
							  <li class="mobile-header-nav-sub-li">
								  <a href="품질경영" class="sub-title">품질경영</a>
								  <a href="Certification" class="sub-title">인증사항</a>
							  </li>
						  </ul>
					  </li>
					  <li class="mobile-header-nav-main-li">
						  <a href="공지사항" class="mobile-header-nav-main-title">Supports & Contacts</a>
						  <ul class="mobile-header-nav-sub">
							  <li class="mobile-header-nav-sub-li">
								  <a href="공지사항" class="sub-title">공지사항</a>
								  <a href="문의사항" class="sub-title">문의사항</a>
							  </li>
						  </ul>
					  </li>
					</ul>
                </nav>
                <a class="mobile-menu-toggle js-toggle-menu hamburger-menu" href="#">
                    <span class="menu-item"></span>
					<span class="menu-item"></span>
					<span class="menu-item"></span>
                </a>
            </div>
            <!--/모바일 메뉴바-->
	</div>
<!--/메뉴 영역-->
<!--본문 영역-->
<section class="section01">
    <div class="bg_img">
		<div class="bg_text_wrapper">
			<p class="bg_text_eng">SP semiconductor Co., Ltd.</p>
			<p class="bg_text_kor">Global 전력반도체 기업</p>
		</div>
	</div>
	<div class="location">
		<ul>
			<li><img src="{% static 'img/공통_img/home_icon.png'%}"></li>
			<li><img src="{% static 'img/공통_img/arrow.png'%}"></li>
			<li><span>About us</span></li>
			<li><img src="{% static 'img/공통_img/arrow.png'%}"></li>
			<li><span>CEO 인사말</span></li>
		</ul>
	</div>
   <div class="sub_sub_btn_wrapper">
        <ul>
            <li id="ceo인사말"><a href="ceo인사말">ceo인사말</a></li>
			<li id="주요연혁"><a href="주요연혁">주요연혁</a></li>
			<li id="글로벌파트너"><a href="글로벌파트너">글로벌파트너</a></li>
			<li id="사업장소개"><a href="사업장소개">사업장소개</a></li>
        </ul>
    </div>
</section>
<section class="section02">
    <div class="content_wrapper">
        <p id="title">열정과 끊임 없는 가치창조로 거듭나는 기업, SP반도체통신</p>
        <div class="content">
			안녕하십니까.
			<br>
			<br>
			에스피반도체통신㈜은 전력용 반도체 패키징 후공정 전문기업으로 Discrete 제품 및 산업용 Module의 조립 서비스를 글로벌 기업들에게 제공하고 있으며,
			<br>
			창사 이래 축적된 공정 기술을 바탕으로 고신뢰성을 요구하는 전장용 반도체 조립 사업 영역에 도전하고 있습니다.
			<br>
			<br>
			끊임없는 인재 육성과 기술 투자, 고객의 가치를 창조한다는 신념으로 고객이 원하는 통합 솔루션을 제공하고, 이를 보증하기 위한 품질 시스템을 완벽하게 구현하기 위해 노력하고 있습니다.
			또한. 국제 사회의 일원으로 사회적 책임을 다하고, 미래 지구를 위한 환경방침을 준수할 것을 약속 드립니다.
			<br>
			<br>
			에스피반도체통신㈜이 전력반도체 시장에서 기술 선도 기업으로 성장하는 모습을 보여 드릴 수 있도록, 저와 모든 임직원이 한마음으로 최선을 다하겠습니다.
			<br>
			<br>
			감사합니다.
		</div>
        <p class="sign">에스피반도체통신 주식회사</p><br>
        <p class="sign">대표이사 윤수열</p>
    </div>

</section>
<!--/본문 영역-->

<!--푸터 영역-->
<footer>
	<div class="footer_wrapper">
		<ul>
			<li>
				<a href="#">개인정보보호방침</a>
			</li>
			<li>
				<a href="Discretes">제품소개</a>
			</li>
			<li>
				<a href="사업장소개">사업장안내</a>
			</li>
		</ul>
		<div class="footer_info">
			<p class="footer_info_회사명">(주)에스피반도체통신</p>
			<p class="footer_info_대표이사">대표이사 윤수열</p>
			<p class="footer_info_주소">경기도 부천시 원미구 평천로 832번길 30(도당동)&nbsp;&nbsp;&nbsp;&nbsp;<span>TEL: 032-680-7777</span></p>
			<p class="footer_info_copyright">COPYRIGHT (C) SPSEMICONDUCTOR & COMMUNICATION.  ALL RIGHTS RESERVED.</p>
		</div>

	</div>
</footer>
<!--/푸터 영역-->

</body>
</html>